@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Oswald:wght@300&display=swap");

:root {
    --primary-color: #0D1317;
    --secondary-color: #248AA0;
    --accent1-color: #FFFFFF;
    --accent2-color: #1A4369;

    --heading-font: "courgette", hand;
    --paragraph-font: "Oswald" serif;

    --nav-background-color: #248AA0;
    --nav-link-color:  #1A4369;
    --nav-hover-link-color:#FFFFFF;
    --nav-hover-background-color: #0D1317;
}

body {
    display: grid;
}
h1, h2, h3, h4, h5, h6 {
    padding: 1rem;
    font-family: var(--heading-font);
}

h1 {
    position: absolute;
    color:  #248AA0;
    top: 150px;
    background-color: #ffffffab;
    left: 350px;
}

h2 {
    color:#1A4369;
}

p {
    padding: 1rem;
}

/* article p {
    text-align: justify;
} */

header {
    display: grid;
    max-width: 1000px;
    background-color: #FFFFFF;
    grid-template-columns: 200px 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin: 1rem 1rem 1rem 1rem;
    
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: right;
}

nav a {
    text-decoration: none;
}

main {
    max-width: 1000px;
    
}

/* img {
    
} */

article {
    /* 
    margin: 1rem auto;
    background-color: #248AA0;
    padding: 1rem;
    border: 1px rgba(0, 0, 0, 1);
    position: absolute; */
    border: 1px solid #1A4369;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 1rem 1rem 1rem 1rem;
    position: absolute;
    top: 250px;
    background-color:#ffffff9d;
    width: 960px;

}

article img {
    width: 150px;
    height: auto;
    border: 1px solid #1A4369;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 1rem 1rem 1rem 1rem;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

figcaption {
    background-color: #248AA0;
    color: #fff;
    padding: 3px;
    text-align: center;
}

footer {
    display: grid;
    max-width: 1000px;
    grid-template-rows: 100px;
    grid-template-columns: 3fr 1fr;
    text-align: center;
    align-items: center;
    margin-top: 1rem;
    border-top: 1px solid #248AA0;
}

footer p {
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}
footer img {
    justify-items: end;
    
}
/* Class Selectors */
.section_1 {
    text-align: center;
    margin: 1rem auto;
    border: 1px solid #248AA0;
}

.section_1 h2 {
    padding: 1rem;
    margin-bottom: 0%;
}

.section_2 {
   display: grid; 
   margin: 1rem auto;
   padding-bottom: 1rem;
   border: 1px solid #248AA0;
   text-align: center;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: 100px 1fr;
   align-items: center;
   justify-content: center;
}
.section_2 h2 {
    grid-column-start: 1;
    grid-column-end: 6;
}
.section_2 img {
    width: 150px;
    height: auto;
    
}

.grid_1 img {
    width: 100px;
    height: auto;
}

div .hero {
    position: relative;
    top: 100px;
}

/* .hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
} */

.hero img {
    max-width: 1000px;
}

.social-links {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}