@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Oswald:wght@300&display=swap");

:root {
    --primary-color: #0D1317;
    --secondary-color: #1A4369;
    --accent1-color: #FFFFFF;
    --accent2-color: #1A4369;

    --heading-font: "courgette", hand;
    --paragraph-font: "Oswald", serif;

    --nav-background-color: #1A4369;
    --nav-link-color:  #1A4369;
    --nav-hover-link-color:#FFFFFF;
    --nav-hover-background-color: #0D1317;
    --button-hover-bacground-color: #FFE14D;
}

body {
    display: grid;
}

div .information {
    border: 1px #0D1317;
    margin: 1rem;
    padding: 1rem;
}
h1, h2, h3, h4, h5, h6 {
    padding: 1rem;
    font-family: var(--heading-font);
}

.h1-about {
    position: absolute;
    color:  #1A4369;
    top: 150px;
    background-color: #ffffffab;
    left: 350px;
}

h1, h2 {
    color:  #1A4369;
}


h1 .h1_2 {
    position: relative;
}

p {
    padding: 1rem;
    font-family: "Oswald", serif;
}

/* article p {
    text-align: justify;
} */

header {
    display: grid;
    max-width: 1000px;
    background-color: #FFFFFF;
    grid-template-columns: 200px 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin: 1rem 1rem 1rem 1rem;
    
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: right;
}

nav a {
    text-decoration: none;
}

main {
    max-width: 1000px;
    
}

/* img {
    
} */

article {
    /* 
    margin: 1rem auto;
    background-color: #1A4369;
    padding: 1rem;
    border: 1px rgba(0, 0, 0, 1);
    position: absolute; */
    border: 1px solid #1A4369;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 1rem 1rem 1rem 1rem;
    position: absolute;
    top: 250px;
    background-color:#ffffff9d;
    width: 960px;

}

article img {
    width: 150px;
    height: auto;
    border: 1px solid #1A4369;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 1rem 1rem 1rem 1rem;
}

figure {
    border: 10px solid #FFE14D;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 250px;
    margin: auto;
}

figcaption {
    background-color: #1A4369;
    color: #fff;
    padding: 3px;
    text-align: center;
}

/* form styling */
.universal-form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    width: 900px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid#fffccf;
    border-radius: 1rem;
    background-color: #1A4369;
    color: #FFF;
    display: grid;
    
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 2px solid rgb(0, 0, 0, 0.1);
    padding: 1rem;
}

legend {
    font-size: 30px;
    border: 2px solid rgb(0, 0, 0, 0.1);
    padding: .5rem;
    font-family: "courgette", hand;
    color: #FFE14D;
}

label, input, button, select, textarea {
    font-family: "Oswald", serif;
    font-size: 22px;
}

label {
    text-align: left;
    padding-right: 1rem;
}

label[for="user-text"] {
    text-align: center;
}

label[for="radio-button1 "] {
    grid-area: 2 / 1 / 2 / 3;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

input, select, textarea {
    padding: .5rem;
}


button {
    width: 150px;
    text-align: center;
    font-size: 22px;
    margin: .3rem auto;
    border: 1px solid rgb(0, 0, 0, 0.1);
    padding: .5rem;
    border-radius: .5rem;
    color: #000;
    background-color: #FFE14D;
    
}

button:hover { 
    background-color: #fff;
}

/* Trips page  */


table, th, td {
    border: 1px solid #1A4369;
    border-collapse: collapse;
    margin: 3rem .5rem 1rem 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    font-family: "Oswald", serif;
    text-align: center;
}

/* footer */
footer {
    display: grid;
    max-width: 1000px;
    grid-template-rows: 100px;
    grid-template-columns: 3fr 1fr;
    text-align: center;
    align-items: center;
    margin-top: 1rem;
    border-top: 1px solid #1A4369;
}

footer p {
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}
footer img {
    justify-items: end;
    
}


/* Class Selectors */
.section_1 {
    text-align: center;
    margin: 1rem auto;
    border: 1px solid #1A4369;
}

.section_1 h2 {
    padding: 1rem;
    margin-bottom: 0%;
}

.section_2 {
   display: grid; 
   margin: 1rem auto;
   padding-bottom: 1rem;
   border: 1px solid #1A4369;
   text-align: center;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: 100px 1fr;
   align-items: center;
   justify-content: center;
}
.section_2 h2 {
    grid-column-start: 1;
    grid-column-end: 6;
}
.section_2 img {
    width: 150px;
    height: auto;
    
}

.grid_1 img {
    width: 100px;
    height: auto;
}

div .hero {
    position: relative;
    top: 100px;
}

/* .hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
} */

.hero img {
    max-width: 1000px;
}

.social-links {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.information {
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #1A4369;
}

.company-information {
    grid-area: 2 / 1 / 3 / 2;
}

iframe {
    float: right;
    width: 600px;
    height: 280px;
    margin: 1rem;
    grid-area: 1 / 2 / 3 / 3;
}

.section_1 h2 {
    padding: 1rem;
    margin-bottom: 0%;
}

.employees {
   display: grid; 
   margin: 1rem auto;
   padding-bottom: 1rem;
   border: 1px solid #1A4369;
   text-align: center;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 100px 1fr;
   align-items: center;
   justify-content: center;
}

.employees h2 {

    grid-column-start: 1;
    grid-column-end: 4;
}

.employees img {
    width: 200px;
    height: auto;
}

/* form item class selectors */

.universal-form {
    border: 1px solid #1A4369;
    padding: 1rem;
}

.universal-form h2 {
    text-align: center;
}
.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 100px 3fr;
    margin: .5rem ;
}

.column2 {
    grid-template-columns:  200px 1fr;
    grid-template-rows: 50px repeat(3, 1fr);
    margin: 1rem ;
    font-size: 20px;
}

.column2 p {
    grid-area: 1 / 1 / 2 / 3;
    font-family: "Oswald", serif;
    font-size: 22px;
    text-align: left;
}

.column3 {
    grid-template-columns:  1fr ;
}

/* Trips Class selector */
.trips-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100px 1fr ;
}

.trips-grid h2, h1 {
    text-align: center;
    grid-area: 1 / 1 / 2 / 3;
    margin: 1rem;
    background-color: #1A4369;
    border: none;
    border-radius: 1rem;
    color: #fff;

}
.trips {
    margin: 1rem auto;
    border: 1px solid #1A4369;
    text-align: left;
    padding: 1rem;
 }

 .trips div {
    display: grid;
    grid-template-columns: 2fr 1fr;
 }
 .trips div h1 {
    grid-area: 1 / 1 / 2/ 3;
    text-align: left;
 }
 
 .trips img {
     width: 200px;
     height: auto;
     float: right;
 }

.call-to-action {
    border-radius: 1rem;
    border: 1px solid #1A4369;
    text-align: center;
    padding: .5rem;
    background-color: #FFE14D;
    margin: 0rem 10rem;
}
.call-to-action p{
    text-align: center;
    padding: .5rem;
    background-color: #FFE14D;
    margin: 0rem;
}

.button-cta {
    background-color: #1A4369;
    color: #fff;
    display: block;
    text-align: center;
    border: none;
    border-radius: .5em;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
    display: inline-block;
    text-decoration: none;
    padding: .5em 1em;
    width: auto;
}

.button-cta:hover {
    background-color: #B3282F;
}

.table h2 {
    text-align: center;
    margin-top: 3rem;
}